<!-- Menu setup for email/password login -->

<!--   <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-view hide-nav-bar="true" view-title="Mooey Login">
    <ion-content>

    <!-- Logo -->
<!--       <img id="logo" src='../img/appicon.png'/> -->

    <!-- Login with email and password  -->
<!--       <form ng-submit="loginEmail()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="loginData.email">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="button button-block button-calm" type="submit">Login  |  Sign up</button>
          </label>
        </div>
      </form> -->
      <h1 align="center">Mooey</h1>
      <form ng-submit="loginFacebook()">
        <label class="item">
          <button class="button button-block button-positive" type="submit">Login with Facebook</button>
        </label>
      </form>

  <!--     Signup form if not registered -->
<!--       <form ng-submit="signupEmail()">
        <label class="item">
          <button class="button button-block button-dark" type="submit">Not a Mooer? Sign up!</button>
        </label>
      </form> -->

    </ion-content>
  </ion-view>

